<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Francesco Tovani">
    <meta name="description" content="Carosello modificato usando Vue">
    <title>Vue Slider</title>


    <!-- FRAME WORK ESTERNI -->
    <!-- BOOTSTRAP -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <!-- BOOTSTRAP  ICON-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">


    <!-- STILE DI QUESTA PAGINA -->

    <link rel="stylesheet" href="css/style.css">

    <!-- VUEJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>

</head>

<body>

    <!-- CONTENUTO PRINCIPALE -->
    <main>
        <div class="container">

            <!-- CAROUSEL -->
            <div class="carousel" id="root">

                <!-- Bottone Prima -->
                <i class="bi bi-arrow-left-square-fill" id="prima"></i>

                <div id="galleria">
                    <div v-for="(img, index) in immagini" :class="{'active' : currentIndex === index}" class="item">

                        <img :src="img.url" :alt="img.title">

                        <div class="textcontent">
                            <h3>{{img.title}}</h3>
                            <p>{{img.description}}</p>
                        </div>

                    </div>




                </div>
                <!-- Bottone Dopo -->

                <i class="bi bi-arrow-right-square-fill" id="dopo"></i>


                <div id="thumb">

                    <img v-for="(img, index) in immagini" :src="img.url" :alt="img.title"
                        :class="{'img' : currentIndex === index}">

                </div>

            </div>

        </div>

    </main>
    </div>


    <!-- INSERISCO FOGLIO JAVASCRIPT -->
    <script src="js/script.js"></script>

</body>

</html>